


  <div style="clear: left; padding-top:20px;">
        <table class="ui teal table">
            <thead>
                <tr class="center aligned">
                    <th>產品</th>
                    <th>需求量</th>
                    <th>存貨狀況</th>
                    <th>前置時間</th>
                    <th>最晚生產日期</th>

                </tr>
            </thead>
            <tbody>
            
                <tr class="center aligned">
                    <td>{{product}}</td>
                    <td>{{number}}</td>
                    <td class="negative">{{whetherInventoryEnough}}</td>
                     <td>{{lead1}}</td>
                    <td>{{dates}}</td>

  
                    
                </tr>
            
            </tbody>
        </table>
    </div>
    

    
    <div style="clear: left; padding-top:20px;">
        <h3>原料:</h3>
        <table class="ui teal table">
            <thead>
                <tr class="center aligned">
                    <th>原料</th>
                    <th>訂購需求量</th>
                 
                </tr>
            </thead>
            <tbody>
            
                <tr class="center aligned">
                     <td>雞蛋</td>
                    <td>{{stillneedegg}}</td>
                   
                
                    
                </tr>

                  <tr class="center aligned">
                     <td >麵粉</td>
                    <td>{{stillneedf}}</td>
                  
                
                    
                </tr>
                  <tr class="center aligned">
                     <td>植物油</td>
                    <td>{{stillneedoil}}</td>
                    
                
                    
                </tr>

                  <tr class="center aligned">
                     <td >糖</td>
                    <td>{{stillneeds}}</td>
                  
                
                    
                </tr>

                <tr class="center aligned">
                     <td >奶粉</td>
                    <td>{{stillneedmilkPowder}}</td>
                
                
                    
                </tr>

                <tr class="center aligned">
                     <td >草莓粉</td>
                    <td>{{stillneedstrawberryPowder}}</td>
                  
                
                    
                </tr>

                 <tr class="center aligned">
                     <td >可可粉</td>
                    <td>{{stillneedcocoaLiquor}}</td>
               
                
                    
                </tr>

                 <tr class="center aligned">
                     <td>草莓大包裝袋</td>
                    <td>{{stillneedpackSbig}}</td>
               
                
                <tr class="center aligned">
                     <td>草莓小包裝袋</td>
                    <td>{{stillneedpackSsmall}}</td>
                  
                    
                <tr class="center aligned">
                     <td>牛奶小包裝袋</td>
                    <td>{{stillneedpackMsmall}}</td>
               


                 <tr class="center aligned">
                     <td>牛奶大包裝袋</td>
                    <td>{{stillneedpackMbig}}</td>
           

                 <tr class="center aligned">
                     <td>巧克力小包裝袋</td>
                    <td>{{stillneedpackCsmall}}</td>
               

                 <tr class="center aligned">
                     <td>巧克力大包裝袋</td>
                    <td>{{stillneedpackCbig}}</td>
                
      
                    
                </tr>
            

                <!-- <tr class="center aligned">
                
                </tr> -->

                <!-- <tr class="center aligned">
                
                </tr> -->
            </tbody>
        </table>
    </div>


 <div style="clear: left; padding-top:20px;">
        <h3>訂貨時程表:</h3>
        <table class="ui teal table">
            <thead>
                <tr class="center aligned">
                    <th>原料</th>
                
                    <th>最晚訂貨日期</th>
                </tr>
            </thead>
            <tbody>
            
                <tr class="center aligned">
                     <td>食物型原料</td>
                    <td>{{eggdate}}</td>
                
                    
                </tr>



                 <tr class="center aligned">
                     <td>包裝袋</td>
        
                    <td>{{packdate}}</td>
      
                    
                </tr>
            

                <!-- <tr class="center aligned">
                
                </tr> -->

                <!-- <tr class="center aligned">
                
                </tr> -->
            </tbody>
        </table>
    </div>